@model IEnumerable<JobPortal.Data.Entities.Job>

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    <span>1500+</span> Jobs posted last week
                </h1>
                <ng-form action="~/assets/user/search.html" class="serach-form-area">
                    <div class="row justify-content-center form-wrap">
                        <div class="col-lg-4 form-cols">
                            <input type="text" class="form-control" name="search" placeholder="what are you looging for?">
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects" ">
                                <select>
                                    <option value="1">Select area</option>
                                    <option value="2">Dhaka</option>
                                    <option value="3">Rajshahi</option>
                                    <option value="4">Barishal</option>
                                    <option value="5">Noakhali</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 form-cols">
                            <div class="default-select" id="default-selects2">
                                <select>
                                    <option value="1">All Category</option>
                                    <option value="2">Medical</option>
                                    <option value="3">Technology</option>
                                    <option value="4">Goverment</option>
                                    <option value="5">Development</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 form-cols">
                            <button type="button" class="btn btn-info">
                                <span class="lnr lnr-magnifier"></span> Search
                            </button>
                        </div>
                    </div>
                </ng-form>
                <p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <!--Category-->
            @foreach (var cate in ViewBag.ListCategories)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>@cate.Name</h4>
                        <p>@cate.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!--Job-->
<!-- Start popular-post Area -->
<section class="popular-post-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="active-popular-post-carusel">
            @foreach (var job in ViewBag.ListJobs)
            {
                <div class="single-popular-post d-flex flex-row">
                    <div class="thumb">
                        <img href="/Job/@job.Slug" class="img-fluid" src="~/assets/user/img/p1.png" alt="">
                        <a class="btns text-uppercase" href="/Job/@job.Slug">view job</a>
                    </div>
                    <div class="details">
                        <a href="/Job/@job.Slug"><h4>@job.Name</h4></a>
                        <h6>@job.ProvinceName</h6>
                        <p>@job.Description</p>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</section>

<!--Skill categories-->
<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Featured Skill Categories</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var job in ViewBag.ListSkills)
            {
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="~/assets/user/category.html">
                            <img src="~/assets/user/img/o1.png" alt="">
                        </a>
                        <p>@job.Name</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">TOP EMPLOYERS</h1>
                    <p>There are Top Employer in our system.</p>
                </div>
            </div>
        </div>
        <div class="row">
        @for (int i = 0; i < 4; i++)
        {
            if (i == 0)
            {
                    <div class='col-xs-16 col-3'>
                        <a asp-action="index">
                            <div class="card">
                                <img class="card-img card-img-top" src="~/assets/user/img/o1.png" alt="Card image" height='200' width='200'>
                                <div class='card-body'>
                                    <h4 class='card-title text-center'>Employer Name</h4>
                                    <footer class='card-text text-center'>
                                        <span>
                                            <span> Quantity Jobs </span>
                                            <span>&nbsp;-&nbsp;</span>
                                        </span>
                                        <span>Province</span>
                                    </footer>
                                </div>
                            </div>
                        </a>
                    </div>
            }
            else if (i == 1)
            {
                    <div class='col-xs-16 col-3'>
                        <a asp-action="index">
                            <div class="card">
                                <img class="card-img card-img-top" src="~/assets/user/img/o1.png" alt="Card image" height='200' width='200'>
                                <div class='card-body'>
                                    <h4 class='card-title text-center'>Employer Name</h4>
                                    <footer class='card-text text-center'>
                                        <span>
                                            <span> Quantity Jobs </span>
                                            <span>&nbsp;-&nbsp;</span>
                                        </span>
                                        <span>Province</span>
                                    </footer>
                                </div>
                            </div>
                        </a>
                    </div>
            }
            else if (i == 2)
            {
                    <div class='col-xs-16 col-3'>
                        <a asp-action="index">
                            <div class="card">
                                <img class="card-img card-img-top" src="~/assets/user/img/o1.png" alt="Card image" height='200' width='200'>
                                <div class='card-body'>
                                    <h4 class='card-title text-center'>Employer Name</h4>
                                    <footer class='card-text text-center'>
                                        <span>
                                            <span> Quantity Jobs </span>
                                            <span>&nbsp;-&nbsp;</span>
                                        </span>
                                        <span>Province</span>
                                    </footer>
                                </div>
                            </div>
                        </a>
                    </div>
            }
            else if (i == 3)
            {
                    <div class='col-xs-16 col-3'>
                        <a asp-action="index">
                            <div class="card">
                                <img class="card-img card-img-top" src="~/assets/user/img/o1.png" alt="Card image" height='200' width='200'>
                                <div class='card-body'>
                                    <h4 class='card-title text-center'>Employer Name</h4>
                                    <footer class='card-text text-center'>
                                        <span>
                                            <span> Quantity Jobs </span>
                                            <span>&nbsp;-&nbsp;</span>
                                        </span>
                                        <span>Province</span>
                                    </footer>
                                </div>
                            </div>
                        </a>
                    </div>
            }
        }
        </div>
    </div>
</section>
<br />
<br />
<br />
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <a class="primary-btn" href="#">I am a Candidate</a>
                    <a class="primary-btn" href="#">Request Free Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->
<!-- Start download Area -->
<section class="download-area section-gap" id="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 download-left">
                <img class="img-fluid" src="../assets/user/img/d1.png" alt="">
            </div>
            <div class="col-lg-6 download-right">
                <h1>
                    Download the <br>
                    Job Listing App Today!
                </h1>
                <p class="subs">
                    It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned.
                </p>
                <div class="d-flex flex-row">
                    <div class="buttons">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="#">
                                <p>
                                    <span>Available</span> <br>
                                    on App Store
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="buttons">
                        <i class="fa fa-android" aria-hidden="true"></i>
                        <div class="desc">
                            <a href="#">
                                <p>
                                    <span>Available</span> <br>
                                    on Play Store
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End download Area -->