@model IEnumerable<JobPortal.Data.Entities.Title>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Title";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <h1 style="text-align:center">Table of Title</h1>
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        <a class="btn btn-primary" href="/admin/title/create">Add new title</a>
                    </p>
                    @*<form asp-action="Index" method="get" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="q" style="height: 2.3rem!important;">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Filter</button>
                    </form>*@
                    <form asp-action="DeleteSelected" method="post">
                        <input type="submit" class="btn btn-danger" value="Delete Selected" onclick="return confirm('Confirm deletion of the selected sections ?') " />
                        @section Scripts {
                            <script>
                                $(function () {
                                    $('#checkall').change(function () {
                                        if ($(this).prop("checked") == true) {
                                            $("input[name=listDelete]").prop("checked", true);
                                        } else {
                                            $("input[name=listDelete]").prop("checked", false);
                                        }
                                    });
                                });
                            </script>
                        }
                        <div class="table-responsive ">
                            <table class="table table-bordered" style="text-align: center">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="checkall" />
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var title in Model)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="listDelete" value="@title.Id" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelTitle => title.Name)
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-list-ul"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item update-button" href="/admin/title/update/@title.Id">
                                                            <i class="bx bx-edit me-1"></i> Update
                                                        </a>
                                                        <button class="dropdown-item delete-button" type="button" onclick="deleteItem(@title.Id)">
                                                            <i class="bx bx-trash me-1"></i> Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--Page list-->
                        <div class="text-center">
                            <ul class="pagination">
                                @Html.PagedListPager((IPagedList)Model, page =>
                                Url.Action("Index", new { page }),
                                new PagedListRenderOptions
                                {
                                Display = PagedListDisplayMode.IfNeeded,
                                LiElementClasses = new string[] { "page-item" },
                                UlElementClasses = new string[] { "pagination" },
                                PageClasses = new string[] { "page-link" },
                                MaximumPageNumbersToDisplay = 7, // Maximum number of pages displayed
                                LinkToPreviousPageFormat = "<span aria-hidden=\"true\">&lsaquo;</span>",
                                LinkToNextPageFormat = "<span aria-hidden=\"true\">&rsaquo;</span>",
                                LinkToFirstPageFormat = "<span aria-hidden=\"true\">&lsaquo;&lsaquo;</span>",
                                LinkToLastPageFormat = "<span aria-hidden=\"true\">&rsaquo;&rsaquo;</span>"
                                })
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    input.btn.btn-danger {
        position: absolute;
        right: 25px;
        top: 25px;
    }

    th {
        font-weight: 700 !important;
    }

    .dropdown-item.update-button {
        background: transparent;
        border: none;
        font-weight: 700;
        color: forestgreen;
    }

        .dropdown-item.update-button:hover {
            background: transparent;
            color: forestgreen;
        }

    .dropdown-item.delete-button {
        background: transparent;
        border: none;
        font-weight: 700;
        color: #dc3545;
    }

        .dropdown-item.delete-button:hover {
            background: transparent;
            color: #dc3545;
        }

    .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a {
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #ccc;
                color: #333;
                text-decoration: none;
                border-radius: 5px;
            }

            .pagination li.active a {
                background-color: #333;
                color: #fff;
            }
</style>

<script>
    function deleteItem(id) {
        Swal.fire({
            title: 'Delete this title?',
            text: "Are you sure you want to delete this title?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin/title/delete/' + id;
                Swal.fire(
                    'Success!',
                    '',
                    'success'
                );
            }
        });
    }
</script>