@model JobPortal.Data.Entities.Job
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
    Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					@Model.Name
				</h1>
				<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Job Details</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
	<div class="container">
		<div class="row justify-content-center d-flex">
			<div class="col-lg-8 post-list">
				<div class="single-post d-flex flex-row">
					<div class="thumb" style="align-items:center">
						<img width="120" height="100" src="https://localhost:7211/images/employers/@Model.AppUser.UrlAvatar" alt="EMPLOYER IMAGE">
						<ul class="tags">
							<!--Skill-->
							<li>
								<a href="/job?slug=@Model.Skill.Slug">@Model.Skill.Name</a>
							</li>
						</ul>
					</div>
					<div class="details" style="margin-left:20px">
						<div class="title d-flex flex-row justify-content-between">
							<div class="titles">
								<a href="#"><h4>@Model.Name</h4></a>
								<h6>@Model.Province.Name</h6>
							</div>
						</div>
						<p>@Model.Description</p>
						<h5>Job Nature: @Model.Time.Name</h5>
						<p class="address"><span class="lnr lnr-map"></span> @Model.Introduce</p>
						<p class="address"><span class="lnr lnr-database"></span> @Model.MinSalary - @Model.MaxSalary</p>
					</div>
				</div>
				<div class="single-post job-details">
					<h4 class="single-title">Whom we are looking for</h4>
					<p>@Model.Description</p>
				</div>
				<div class="single-post job-experience">
					<h4 class="single-title">Experience Requirements</h4>
					<ul>
						<li>
							<img src="../assets/user/img/pages/list.jpg" alt="">
							<span>@Model.MinAge - @Model.MaxAge</span>
						</li>
						
					</ul>
				</div>
				<div class="single-post job-experience">
					<h4 class="single-title">Job Features & Overviews</h4>
					<ul>
						<li>
							<img src="../assets/user/img/pages/list.jpg" alt="">
							<span>@Model.ObjectTarget</span>
						</li>
					</ul>
				</div>
				<div class="single-post job-experience">
					<h4 class="single-title">Education Requirements</h4>
					<ul>
						<li>
							<img src="../assets/user/img/pages/list.jpg" alt="">
							<span>@Model.Experience</span>
						</li>
					</ul>
				</div>
				<!--Apply-->
				@if (signInManager.IsSignedIn(User))
				{
					if (!User.IsInRole("User"))
					{
						<a class="text-uppercase loadmore-btn mx-auto d-block" type="button" href="#" onclick="accessDenied()">apply now</a>
					}
					else if (ViewBag.HasSubmittedCV)
					{
						<a class="text-uppercase loadmore-btn mx-auto d-block" type="button" href="#" onclick="waiting()">apply now</a>
					}
					else
					{
						<a class="text-uppercase loadmore-btn mx-auto d-block" href="/apply/@Model.Slug/@user.Id">apply now</a>
					}
				}
				else
				{
					<a class="text-uppercase loadmore-btn mx-auto d-block" href="/login">login to apply now</a>
				}
			</div>
			<div class="col-lg-4 sidebar">
				<div class="single-slidebar">
					<!--Province-->
					<h4 class="text-center">Jobs by Location</h4>
					<ul class="cat-list">
						@foreach (var pro in ViewBag.ListProvinces)
						{
							<li><a class="justify-content-between d-flex" href="/job?slug=@pro.Slug"><p>@pro.Name</p><span></span></a></li>
						}
					</ul>
				</div>
				<div class="single-slidebar">
					<!--Skill-->
					<h4 class="text-center">Jobs by Skill</h4>
					<ul class="cat-list">
						@foreach (var skill in ViewBag.ListSkills)
						{
							<li><a class="justify-content-between d-flex" href="/job?slug=@skill.Slug"><p>@skill.Name</p><span></span></a></li>
						}
					</ul>
				</div>
				<div class="single-slidebar">
					<h4 class="text-center">Carrer Advice Blog</h4>
					<div class="blog-list">
						<div class="single-blog " style="background:#000 url(../assets/user/img/blog1.jpg);">
							<a href="#">
								<h4>
									Home Audio Recording <br>
									For Everyone
								</h4>
							</a>
							<div class="meta justify-content-between d-flex">
								<p>
									02 Hours ago
								</p>
								<p>
									<span class="lnr lnr-heart"></span>
									06
									<span class="lnr lnr-bubble"></span>
									02
								</p>
							</div>
						</div>
						<div class="single-blog " style="background:#000 url(../assets/user/img/blog2.jpg);">
							<a href="#">
								<h4>
									Home Audio Recording <br>
									For Everyone
								</h4>
							</a>
							<div class="meta justify-content-between d-flex">
								<p>
									02 Hours ago
								</p>
								<p>
									<span class="lnr lnr-heart"></span>
									06
									<span class="lnr lnr-bubble"></span>
									02
								</p>
							</div>
						</div>
						<div class="single-blog " style="background:#000 url(../assets/user/img/blog1.jpg);">
							<a href="#">
								<h4>
									Home Audio Recording <br>
									For Everyone
								</h4>
							</a>
							<div class="meta justify-content-between d-flex">
								<p>
									02 Hours ago
								</p>
								<p>
									<span class="lnr lnr-heart"></span>
									06
									<span class="lnr lnr-bubble"></span>
									02
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End post Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10 text-white">Join us today without any hesitation</h1>
					<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<a class="primary-btn" href="#">I am a Candidate</a>
					<a class="primary-btn" href="#">We are an Employer</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End calto-action Area -->

<script>
	function accessDenied() {
		Swal.fire({
			title: 'Sorry !',
			text: 'This page only for user account.',
			icon: 'warning',
			confirmButtonText: 'OK'
		});
	}

	function waiting() {
		Swal.fire({
			title: 'You already submitted your CV !',
			text: 'Please wait for the results from the employer.',
			icon: 'info',
			confirmButtonText: 'OK'
		});
	}
</script>
