@model IEnumerable<JobPortal.Data.Entities.Job>

@{
    Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row search-page-top d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    Search Results
                </h1>
                <p class="text-white link-nav">
                    <a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="#"> Job searching page</a>
                </p>
                <!--Search box-->
                @Html.Partial("../Shared/_SearchBoxPartial.cshtml")
                @if (ViewBag.q == null && ViewBag.province == null && ViewBag.skill == null)
                {
                    <p style="font-size: 20px" class="text-white"><span>@Model.Count()+</span> IT Jobs For <span> Developers</span></p>
                }
                else
                {
                    <p style="font-size: 25px; display: inline;" class="text-white">
                        <span>@Model.Count()</span> Results found for <span>"@ViewBag.q"</span>
                    </p>
                    @if (ViewBag.province != null)
                    {
                        <p style="font-size: 25px; display: inline;" class="text-white">in <span>@(ViewBag.province != null ? $"{ViewBag.province.Name}" : "")</span></p>
                    }
                    @if (ViewBag.skill != null)
                    {
                        <p style="font-size: 25px; display: inline;" class="text-white">for <span>@(ViewBag.skill != null ? $"{ViewBag.skill.Name}" : "")</span></p>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <!--Time list-->
                <ul class="cat-list" style="width:auto">
                    @foreach (var time in @ViewBag.ListTimes)
                    {
                        <li class="col-xs-12 col-4"><a href="/job?slug=@time.Slug">@time.Name</a></li>
                    }
                </ul>
                <!--Job list-->
                @foreach (var job in Model)
                {
                    <div class="single-post d-flex flex-row">
                        <!--Job skill list-->
                        <div class="thumb">
                            <img href="/job/@job.Slug" height="100" width="120" src="https://localhost:7211/images/employers/@job.AppUser.UrlAvatar" alt="EMPLOYER IMAGE">
                            <ul class="tags">
                                <!--Skill-->
                                <li>
                                    <a href="#">@job.Skill.Name</a>
                                </li>
                            </ul>
                        </div>
                        <!--End job skill list-->
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="/job/@job.Slug"><h4> @job.Name</h4></a>
                                    <h6>@job.Province.Name</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="/job/@job.Slug"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="/job/@job.Slug">Apply</a></li>
                                </ul>
                            </div>
                            <p>@job.Description</p>
                            <h5>Job Nature: @job.Time.Name</h5>
                            <p class="address"><span class="lnr lnr-map"></span> @job.Introduce</p>
                            <p class="address"><span class="lnr lnr-database"></span> @job.MinSalary - @job.MaxSalary</p>
                        </div>
                    </div>
                }
                <!--End job list-->
                <!--Load more jobs-->
                @*<a class="text-uppercase loadmore-btn mx-auto d-block" href="../assets/user/category.html">Load More job Posts</a>*@

            </div>

            <!-- Sidebar -->
            @Html.Partial("../Shared/_SidebarPartial.cshtml")

        </div>
    </div>
</section>
<!-- End post Area -->
<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    <a class="primary-btn" href="#">I am a Candidate</a>
                    <a class="primary-btn" href="#">Request Free Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End calto-action Area -->