@model List<JobPortal.Data.Entities.Category>


<!-- Start features Area -->
<section class="features-area">
    <div class="container">
        <div class="row">
            <!--Category-->
            @foreach (var cate in Model)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>@cate.Name</h4>
                        @*<p>
                            @cate.Description
                        </p>*@
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- End features Area -->

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@