@model List<JobPortal.Data.Entities.Category>

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="single-feature">
                @if (category.Name == "Employer")
                {
                    <h4><strong><span class="lnr lnr-users"></span> @category.Name</strong></h4>
                }
                else if (category.Name == "Title")
                {
                    <h4><strong><span class="lnr lnr-book"></span> @category.Name</strong></h4>
                }
                else if (category.Name == "Skill")
                {
                    <h4><strong><span class="lnr lnr-tag"></span> @category.Name</strong></h4>
                }
                else if (category.Name == "Province")
                {
                    <h4><strong><span class="lnr lnr-map-marker"></span> @category.Name</strong></h4>
                }
                <hr />
                <p style="margin: 10px">@category.Description</p>
            </div>
        </div>
    }
</div>