@model List<JobPortal.Data.Entities.Skill>

<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Featured Skill Categories</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < 6; i++)
            {
                if (i == 0)
                {
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="~/assets/user/category.html">
                                <img src="~/assets/user/img/o1.png" alt="">
                            </a>
                            <p>@Model[i].Name</p>
                        </div>
                    </div>
                }
                else if (i == 1)
                {
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="~/assets/user/category.html">
                                <img src="~/assets/user/img/o2.png" alt="">
                            </a>
                            <p>@Model[i].Name</p>
                        </div>
                    </div>
                }
                else if (i == 2)
                {
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="~/assets/user/category.html">
                                <img src="~/assets/user/img/o3.png" alt="">
                            </a>
                            <p>@Model[i].Name</p>
                        </div>
                    </div>
                }
                else if (i == 3)
                {
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="~/assets/user/category.html">
                                <img src="~/assets/user/img/o4.png" alt="">
                            </a>
                            <p>@Model[i].Name</p>
                        </div>
                    </div>
                }
                else if (i == 4)
                {
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="~/assets/user/category.html">
                                <img src="~/assets/user/img/o5.png" alt="">
                            </a>
                            <p>@Model[i].Name</p>
                        </div>
                    </div>
                }
                else if(i==5)
                {
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="~/assets/user/category.html">
                                <img src="~/assets/user/img/o6.png" alt="">
                            </a>
                            <p>@Model[i].Name</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@