@model IEnumerable<JobPortal.Data.Entities.Blog>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    Layout = "_Layout";
	int startRank = ViewBag.StartRank ?? 1; // Lấy giá trị startRank từ ViewBag, mặc định là 1 nếu không tồn tại
}

<style>
    .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .pagination li {
        margin: 0 5px;
    }

    .pagination li a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #ccc;
        color: #333;
        text-decoration: none;
        border-radius: 5px;
    }

    .pagination li.active a {
        background-color: #333;
        color: #fff;
    }
</style>

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Blog Posts
				</h1>
				<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Blog Posts</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start blog-posts Area -->
<section class="blog-posts-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 post-list blog-post-list">
				@foreach(var blog in Model)
				{
					<br />
					<div class="single-post">
						<a href="/blog/@blog.Slug"><img class="img-fluid" src="https://localhost:7211/images/blogs/@blog.Image" alt="blog image"></a>
						<ul class="tags">
							<li>
								<a href="#">
									<img style="width: 80px" src="https://localhost:7211/images/employers/@blog.AppUser.UrlAvatar"
										 alt="blog image"> Content Writer: @blog.Author • @blog.CreateDate.ToString("dddd, yy/MM/yyyy - HH:mm:ss - tt")
								</a>
								
							</li>
						</ul>
						<a href="/blog/@blog.Slug">
							<h1>
								@Html.Raw(blog.Title)
							</h1>
						</a>
						<p>
							@Html.Raw(blog.Description)
						</p>
						<div class="bottom-meta">
							<div class="user-details row align-items-center">
								<div class="comment-wrap col-lg-6">
									
									<ul>
										@*<li><a href="#"><span class="lnr lnr-heart"></span>	4 likes</a></li>
										<li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>*@
										<li><a href="#"><span class="lnr lnr-eye"></span> @blog.Popular Views</a></li>
									</ul>
								</div>
								<div class="social-wrap col-lg-6">
									<h3 style="color: red; float: right">#@(startRank++)</h3>
									@*<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
									</ul>*@
								</div>
							</div>
						</div>
					</div>
					<hr />
				}

				<!-- Page list -->
				<div class="text-center">
					<ul class="pagination">
						@Html.PagedListPager((IPagedList)Model,
						page => Url.Action("Index", new { page }),
						new PagedListRenderOptions
						{
						Display = PagedListDisplayMode.IfNeeded,
						LiElementClasses = new string[] { "page-item" },
						UlElementClasses = new string[] { "pagination" },
						PageClasses = new string[] { "page-link" },
						MaximumPageNumbersToDisplay = 7, // Maximum number of pages displayed
						LinkToPreviousPageFormat = "<span aria-hidden=\"true\">&lsaquo;</span>",
						LinkToNextPageFormat = "<span aria-hidden=\"true\">&rsaquo;</span>",
						LinkToFirstPageFormat = "<span aria-hidden=\"true\">&lsaquo;&lsaquo;</span>",
						LinkToLastPageFormat = "<span aria-hidden=\"true\">&rsaquo;&rsaquo;</span>"
						})
					</ul>
				</div>

			</div>
			
			<!-- Sidebar -->
			@Html.Partial("../Shared/_SidebarPartial.cshtml")

			@*<div class="col-lg-4 sidebar">
				<div class="single-widget search-widget">
					<form class="example" action="#" style="margin:auto;max-width:300px">
						<input type="text" placeholder="Search Posts" name="search2">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>

				<div class="single-widget protfolio-widget">
					<img src="~/assets/user/img/blog/user2.jpg" alt="">
					<a href="#"><h4>Adele Gonzalez</h4></a>
					<p>
						MCSE boot camps have its supporters and
						its detractors. Some people do not understand why you should have to spend money
						on boot camp when you can get.
					</p>
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-behance"></i></a></li>
					</ul>
				</div>

				<div class="single-widget category-widget">
					<h4 class="title">Post Categories</h4>
					<ul>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Techlology</h6> <span>37</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Lifestyle</h6> <span>24</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fashion</h6> <span>59</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Art</h6> <span>29</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Food</h6> <span>15</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Architecture</h6> <span>09</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Adventure</h6> <span>44</span></a></li>
					</ul>
				</div>

				<div class="single-widget recent-posts-widget">
					<h4 class="title">Recent Posts</h4>
					<div class="blog-list ">
						<div class="single-recent-post d-flex flex-row">
							<div class="recent-thumb">
								<img class="img-fluid" src="~/assets/user/img/blog/r1.jpg" alt="">
							</div>
							<div class="recent-details">
								<a href="#">
									<h4>
										Home Audio Recording
										For Everyone
									</h4>
								</a>
								<p>
									02 hours ago
								</p>
							</div>
						</div>
						<div class="single-recent-post d-flex flex-row">
							<div class="recent-thumb">
								<img class="img-fluid" src="~/assets/user/img/blog/r2.jpg" alt="">
							</div>
							<div class="recent-details">
								<a href="#">
									<h4>
										Home Audio Recording
										For Everyone
									</h4>
								</a>
								<p>
									02 hours ago
								</p>
							</div>
						</div>
						<div class="single-recent-post d-flex flex-row">
							<div class="recent-thumb">
								<img class="img-fluid" src="~/assets/user/img/blog/r3.jpg" alt="">
							</div>
							<div class="recent-details">
								<a href="#">
									<h4>
										Home Audio Recording
										For Everyone
									</h4>
								</a>
								<p>
									02 hours ago
								</p>
							</div>
						</div>
						<div class="single-recent-post d-flex flex-row">
							<div class="recent-thumb">
								<img class="img-fluid" src="~/assets/user/img/blog/r4.jpg" alt="">
							</div>
							<div class="recent-details">
								<a href="#">
									<h4>
										Home Audio Recording
										For Everyone
									</h4>
								</a>
								<p>
									02 hours ago
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="single-widget category-widget">
					<h4 class="title">Post Archive</h4>
					<ul>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Dec '17</h6> <span>37</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Nov '17</h6> <span>24</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Oct '17</h6> <span>59</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Sep '17</h6> <span>29</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Aug '17</h6> <span>15</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jul '17</h6> <span>09</span></a></li>
						<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jun '17</h6> <span>44</span></a></li>
					</ul>
				</div>

				<div class="single-widget tags-widget">
					<h4 class="title">Tag Clouds</h4>
					<ul>
						<li><a href="#">Lifestyle</a></li>
						<li><a href="#">Art</a></li>
						<li><a href="#">Adventure</a></li>
						<li><a href="#">Food</a></li>
						<li><a href="#">Techlology</a></li>
						<li><a href="#">Fashion</a></li>
						<li><a href="#">Architecture</a></li>
						<li><a href="#">Food</a></li>
						<li><a href="#">Technology</a></li>
					</ul>
				</div>*@
		</div>
	</div>
</section>
<!-- End blog-posts Area -->