@model IEnumerable<JobPortal.Data.Entities.AppUser>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "All Employer";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <h1 class="text-center">List Employer</h1>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Employer Name
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                     <th>
                                        Contact
                                    </th>
                                     <th>
                                        Website
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            <div>@Html.Raw(item.Contact)</div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WebsiteURL)
                                        </td>
                                        <td>
                                            <div>@Html.Raw(item.Description)</div>
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!--Page list-->
                    <div class="text-center">
                        <ul class="pagination">
                            @Html.PagedListPager((IPagedList)Model, page =>
                            Url.Action("ListEmployer", new { page }),
                            new PagedListRenderOptions
                            {
                            Display = PagedListDisplayMode.IfNeeded,
                            LiElementClasses = new string[] { "page-item" },
                            UlElementClasses = new string[] { "pagination" },
                            PageClasses = new string[] { "page-link" },
                            MaximumPageNumbersToDisplay = 7, // Maximum number of pages displayed
                            LinkToPreviousPageFormat = "<span aria-hidden=\"true\">&lsaquo;</span>",
                            LinkToNextPageFormat = "<span aria-hidden=\"true\">&rsaquo;</span>",
                            LinkToFirstPageFormat = "<span aria-hidden=\"true\">&lsaquo;&lsaquo;</span>",
                            LinkToLastPageFormat = "<span aria-hidden=\"true\">&rsaquo;&rsaquo;</span>"
                            })
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .table-bordered {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

        .table-bordered th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
            background-color: #f2f2f2;
        }

        .table-bordered td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            vertical-align: middle;
        }

    .table-content {
        font-size: 16px;
    }

        .table-content img {
            width: 150px;
            height: 150px;
            display: block;
            margin: 0 auto;
            border-radius: 20px;
            object-fit: cover;
        }

    .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a {
                display: inline-block;
                padding: 5px 10px;
                border: 1px solid #ccc;
                color: #333;
                text-decoration: none;
                border-radius: 5px;
            }

            .pagination li.active a {
                background-color: #333;
                color: #fff;
            }
</style>