@model JobPortal.Data.Entities.AppUser
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
    Layout = "_Layout";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					@Model.FullName
				</h1>
				<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Company overview</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start blog-posts Area -->
<section class="blog-posts-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 post-list blog-post-list">
                <div class="single-post">
                    <img class="img-fluid" src="https://localhost:7211/images/employers/@Model.UrlAvatar" alt="flag">
                    <hr />
                    <h3 style="text-align: center; margin-top: 10px; margin-bottom: 5px">@Model.FullName</h3>
                    <ul class="cat-list">
                        @if (ViewBag.CountJob == 1)
                        {
                            <li class="col-xs-12 col-4"><a href="/job?slug=@Model.Slug">@ViewBag.CountJob job opening</a></li>

                        }
                        else if (ViewBag.CountJob > 1)
                        {
                            <li class="col-xs-12 col-4"><a href="/job?slug=@Model.Slug">@ViewBag.CountJob jobs opening</a></li>
                        }
                    </ul>
                    <ul class="tags">
                        <li><a target="_blank" href="https://@Model.WebsiteURL/">@Model.WebsiteURL</a></li> - Established: @Model.CreateDate -
                        <img width="30" height="20" src="https://localhost:7211/images/countries/@Model.Country.Flag" alt="flag"> @Model.Country.Name
                    </ul>
                    <div class="content-wrap">
                        <h6>Company overview:</h6>
                        <blockquote class="generic-blockquote">
                            <p>@Html.Raw(Model.Description)</p>
                            <p>@Html.Raw(Model.Content)</p>
                        </blockquote>

                        <h6>Location:</h6>
                        <p>@Html.Raw(Model.Location)</p>

                        <h6>Company size:</h6>
                        <p>@Html.Raw(Model.CompanySize)</p>

                        <h6>Working days:</h6>
                        <p>@Html.Raw(Model.WorkingDays)</p>

                        <h6>Province:</h6>
                        <p>@Html.Raw(Model.Province.Name)</p>

                        <h6>Contact:</h6>
                        <p>@Html.Raw(Model.Contact)</p>
                        
                    </div>
                    <hr />
                    <div class="bottom-meta">
                        <div class="user-details row align-items-center">
                            <div class="comment-wrap col-lg-6 col-sm-6">
                                @*<ul>
                                    <li><a href="#"><span class="lnr lnr-heart"></span>	4 likes</a></li>
                                    <li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
                                </ul>*@
                            </div>
                            <div class="social-wrap col-lg-6">
                                <ul>
                                    <li><a href="https://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="https://behance.net/"><i class="fa fa-behance"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                   @* <!-- Start nav Area -->
                    <section class="nav-area pt-50 pb-100">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-sm-6 nav-left justify-content-start d-flex">
                                    <div class="thumb">
                                        <img src="~/assets/user/img/blog/prev.jpg" alt="">
                                    </div>
                                    <div class="post-details">
                                        <p>Prev Post</p>
                                        <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                                    </div>
                                </div>
                                <div class="col-sm-6 nav-right justify-content-end d-flex">
                                    <div class="post-details">
                                        <p>Prev Post</p>
                                        <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                                    </div>
                                    <div class="thumb">
                                        <img src="~/assets/user/img/blog/next.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End nav Area -->
                    <!-- Start comment-sec Area -->
                    <section class="comment-sec-area pt-80 pb-80">
                        <div class="container">
                            <div class="row flex-column">
                                <h5 class="text-uppercase pb-80">05 Comments</h5>
                                <br>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="~/assets/user/img/blog/c1.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Emilly Blunt</a></h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                                <p class="comment">
                                                    Never say goodbye till the end comes!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list left-padding">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="~/assets/user/img/blog/c2.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Emilly Blunt</a></h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                                <p class="comment">
                                                    Never say goodbye till the end comes!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list left-padding">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="~/assets/user/img/blog/c3.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Emilly Blunt</a></h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                                <p class="comment">
                                                    Never say goodbye till the end comes!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="~/assets/user/img/blog/c4.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Emilly Blunt</a></h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                                <p class="comment">
                                                    Never say goodbye till the end comes!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="~/assets/user/img/blog/c5.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">Emilly Blunt</a></h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                                <p class="comment">
                                                    Never say goodbye till the end comes!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End comment-sec Area -->
                    <!-- Start commentform Area -->
                    <section class="commentform-area pt-80">
                        <div class="container">
                            <h5 class="pb-50">Leave a Reply</h5>
                            <div class="row flex-row d-flex">
                                <div class="col-lg-4 col-md-6">
                                    <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                    <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                    <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">

                                </div>
                                <div class="col-lg-8 col-md-6">
                                    <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                    <a class="primary-btn mt-20" href="#">Comment</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- End commentform Area -->*@
                </div>
            </div>
            
            <!-- Sidebar -->
            @Html.Partial("../Shared/_SidebarPartial.cshtml")

        </div>
    </div>
</section>
<!-- End blog-posts Area -->